<div class="w-full h-full flex flex-col">
    <div class="px-gutter pt-6 pb-20 bg-primary flex-none">
        <div class="flex items-center justify-between">
            <h2
                class="headline text-primary-contrast m-0 flex items-center w-full max-w-xxxl mr-6"
            >
            <ic-icon @scaleIn [icIcon]="icPurcharse"></ic-icon>
            <span @fadeInRight class="ml-4 block">Nueva Compra de Productos</span>
            </h2>
            <button mat-button class="text-am-base-background">Regresar</button>
        </div>
    </div>
</div>
